{% set env = salt['grains.filter_by']({
    'Debian': {
        'ack': 'ack-grep'
    },
    'RedHat': {
        'ack': 'ack'
    },
    'Arch': {
        'ack': 'ack'
    }
}, merge=salt['pillar.get']('env:lookup')) %}
